.myPage{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a[href]{
    color: brown;
}
.myButton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a:hover{
    background-color: brown;
    color: white;
}
.myButton:active{
    background-color: cornflowerblue;
    transform: scale(0.99);

}
li:first-of-type
{
color: lightseagreen;
}
li::selection {
    color:brown;
    background-color: antiquewhite;
    line-height: 1;
}